<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Material CSS -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

        <!-- Material Icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" type="text/css" href="../static/css/crystal_dashboard_stylesheet.css">

        <!-- Awesome font -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Crystal</title>
    </head>

    <body>

    <div id="vue-app">
        <div class="row mt-3 mr-3">
            <div class="col-lg-9">
                <h3 class="container">Crystal</h3>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5">
                        <button class="btn btn-secondary" v-on:click="set_refresh()">
                            {{refresh_button_text}}
                        </button>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-secondary" v-on:click="refresh()" class="btn btn-dark">
                            <i class="material-icons">
                                refresh
                            </i>
                        </button>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="exampleInputName2" v-on:keyup.enter="set_refresh_interval()" v-model="entered_refresh_time" placeholder="time in s">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button v-on:click="get_projects()" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Project
                            </button>
                            <div class="dropdown-menu">
                                <a v-on:click="set_project(value)" v-for="value in all_projects" class="dropdown-item" href="#">
                                    {{value}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button v-on:click="get_runs()" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Run
                            </button>
                            <div class="dropdown-menu">
                                <a v-on:click="set_run(value)" v-for="value in all_runs" class="dropdown-item mw-100" href="#">
                                    {{value}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Dashboard cards -->
        <div class="dashBoardContainer">
            <div class="row">
                <div class="col-lg-1">
                    <div class="crystalMenuBar">

                        <div class="row crystalIconContainer">
                            <img src="../static/icons/plots_icon.png" alt="show plots" class="crystalIcon rounded-circle">
                        </div>

                        <div class="row crystalIconContainer">
                            <img src="../static/icons/plots_icon.png" alt="show plots" class="crystalIcon rounded-circle">
                        </div>

                        <div class="row crystalIconContainer">
                            <img src="../static/icons/plots_icon.png" alt="show plots" class="crystalIcon rounded-circle">
                        </div>

                        <div class="row crystalIconContainer">
                            <img src="../static/icons/plots_icon.png" alt="show plots" class="crystalIcon rounded-circle">
                        </div>

                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col" v-for="value in current_variables">
                            <div class="shadow p-1 mb-5 bg-white card crystalCard">
                                <h5 class="card-title crystalCardTitle"> {{value}} </h5>
                                <div class="card-img" v-bind:id="value" style="width: auto"></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-raised btn-info" v-on:click="download_graph(value)">Download graph</button>
                                        </div>
                                        <div class="col" style="float: left; padding-left: 3rem">
                                            <button type="button" class="btn btn-raised btn-info"  v-on:click="get_graph_csv(value)">Download CSV</button>
                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" class="btn btn-info bmd-btn-icon">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of dashboard cards -->
    </div>
    <br/>

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>    <script src="%% url_for('static', filename='js/plotly-latest.min.js') %%"></script>
    <script src="https://unpkg.com/vue"></script>

    <!-- My code -->
    <script> {% include 'js/crystal_dashboard.js' %} </script>


    </body>
</html>
