<!DOCTYPE html>
<html>
    <head>
        <title>Crystal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="%% url_for('static',filename='css/materialize.min.css') %%" media="screen,projection">
        <script src="%% url_for('static', filename='js/plotly-latest.min.js') %%"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="%% url_for('static',filename='js/materialize.min.js') %%"></script>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>

        <div id="vue-app">

            <button v-on:click="refresh()">Refresh</button>
            <br/>
            <h4>Project Name: {{}} </h4>
            <br/>
            <h4>Run Name: {{}} </h4>
            <br/>
            <button v-on:click="get_projects()">Show all projects</button>

            <ul style="padding: auto">
                <li v-for="value in all_projects">
                    {{ value }}
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col s1">Tools</div>
            <div class="col s10">
                <h1>Run name: %%latest_run%%</h1>
                {% for v_n in variable_names %}
                <div id="%%v_n[0]%%"></div>
                {% endfor %}
            </div>
        </div>
        <script>
            <!-- TODO: Update only the required elements -->
            {% include 'js/test_js.js' %}
        </script>
    </body>
</html>
