.crystalCard {
    border-radius: 1rem !important;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.crystalCard:hover {
    box-shadow: 0 .1rem 0.2rem rgba(0,0,0,.15)!important;
}

.crystalCardTitle {
    text-align: center;
    padding: .3rem;
    margin-bottom: .5rem !important;
}

.crystalCardButton {
    color: white;
    text-align: center;
    background: rgb(39, 99, 196);
    width: max-content;
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: 5rem !important;
    box-shadow: 0 0.3rem 1rem rgba(39, 99, 196,.55)!important;
    transition: all 0.3s ease-in-out;
}

.crystalCardButton:hover {
    box-shadow: 0 0 0.75rem rgba(39, 99, 196,.55)!important;
    cursor: pointer;
}

.dashBoardContainer {
    padding: 2rem 2rem 2rem 0;
}

.crystalMenuBar {
    text-align: center;
    background: white;
    width: 100px;
    height: 500px;
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: 0 1rem 1rem 0 !important;
    box-shadow: 0 0.05rem 0.4rem rgba(0, 0, 0,.4)!important;
    transition: all 0.2s ease-in-out;
}

.crystalMenuBar:hover {
    box-shadow: 0 0.03rem 0.3rem rgba(0, 0, 0,.4)!important;
}

.crystalIconContainer {
    padding: 2.3rem 0.5rem 2.4rem 0.5rem;
}

.crystalIcon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    cursor: pointer;
}

/* Project management */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 50rem;
    height: 40rem;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
    overflow-x: auto;
    height: 400px;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
